<!-- Skills Section -->
<section class="skills section" id="skills">
    <div class="container">        <div class="section-heading">
            <h2>My Skills</h2>
            <div class="underline"></div>
        </div>
        <!-- <div class="skills-legend">
            <div class="legend-item">
                <div class="legend-dot proficient"></div>
                <span>Proficient</span>
            </div>
            <div class="legend-item">
                <div class="legend-dot intermediate"></div>
                <span>Intermediate</span>
            </div>
            <div class="legend-item">
                <div class="legend-dot exploring"></div>
                <span>Exploring</span>
            </div>
            <div class="legend-item">
                <div class="legend-dot familiar"></div>
                <span>Familiar</span>
            </div>
        </div> -->
        <div class="skills-content">
            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <h3>Programming & Development</h3>
                </div>
                <div class="skills-tag-cloud">
                    <!-- <span class="skill-tag" data-level="intermediate">C</span> -->
                    <span class="skill-tag" data-level="proficient">Python</span>
                    <span class="skill-tag" data-level="intermediate">Java</span>
                    <span class="skill-tag" data-level="familiar">Scala</span>
                    <span class="skill-tag" data-level="intermediate">PySpark</span>
                    <span class="skill-tag" data-level="familiar">SQL</span>
                    <!-- <span class="skill-tag" data-level="familiar">Spring Framework</span> -->
                </div>
            </div>

            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <h3>Databases</h3>
                </div>
                <div class="skills-tag-cloud">
                    <!-- <span class="skill-tag" data-level="intermediate">C</span> -->
                    <span class="skill-tag" data-level="proficient">MySQL</span>
                    <span class="skill-tag" data-level="intermediate">PostgreSQL</span>
                    <span class="skill-tag" data-level="familiar">SQL Server</span>
                    <span class="skill-tag" data-level="intermediate">T-SQL</span>
                    <span class="skill-tag" data-level="familiar">Hive</span>
                    <span class="skill-tag" data-level="familiar">MongoDB</span>
                    <!-- <span class="skill-tag" data-level="familiar">Spring Framework</span> -->
                </div>
            </div>
            
            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon">
                        <i class="fas fa-layer-group"></i>
                    </div>
                    <h3>Data Warehousing & Cloud</h3>
                </div>
                <div class="skills-tag-cloud">
                    <!-- <span class="skill-tag" data-level="intermediate"><i class="fab fa-python"></i>NumPy</span>
                    <span class="skill-tag" data-level="intermediate"><i class="fab fa-python"></i>Pandas</span>
                    <span class="skill-tag" data-level="intermediate"><i class="fas fa-brain"></i>Scikit Learn</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-chart-line"></i>XGBoost</span>
                    <span class="skill-tag" data-level="proficient"><i class="fab fa-java"></i>Spring Boot</span>
                    <span class="skill-tag" data-level="proficient"><i class="fab fa-js"></i>Marionette.js</span>
                    <span class="skill-tag" data-level="proficient"><i class="fab fa-js"></i>Backbone.js</span>
                    <span class="skill-tag" data-level="intermediate"><i class="fab fa-js"></i>Webpack</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-cube"></i>Three.js</span>                    
                    <span class="skill-tag" data-level="intermediate"><i class="fas fa-vial"></i>JUnit</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-vial"></i>TestNG</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-check-circle"></i>Rest Assured</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-network-wired"></i>RESTful APIs</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-cubes"></i>Microservices</span> -->
                    <span class="skill-tag" data-level="intermediate">Snowflake</span>
                    <span class="skill-tag" data-level="intermediate">Azure Synapse Analytics</span>
                    <span class="skill-tag" data-level="exploring">Amazon RedShift</span>
                    <span class="skill-tag" data-level="exploring">Azure (Azure Data Factory and ADLS Gen2)</span>
                    <span class="skill-tag" data-level="exploring">AWS (S3, Glue & EMR)</span>
                    <span class="skill-tag" data-level="exploring">GCP (GCS, BigQuery)</span>
                    <span class="skill-tag" data-level="exploring">Palantir</span>
                </div>
            </div>
            
            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <h3>Data & Analytics Tools</h3>
                </div>
                <div class="skills-tag-cloud">
                    <!-- <span class="skill-tag" data-level="intermediate"><i class="fas fa-brain"></i>Machine Learning</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-chart-line"></i>Linear Regression</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-chart-line"></i>Logistic Regression</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-project-diagram"></i>K-Means Clustering</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-tree"></i>Decision Trees</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-calculator"></i>Statistical Analysis</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-random"></i>Random Forest</span>
                    <span class="skill-tag" data-level="intermediate"><i class="fas fa-flask"></i>A/B Testing</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-vector-square"></i>SVM</span>
                    <span class="skill-tag" data-level="intermediate"><i class="fas fa-chart-bar"></i>Tableau</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-chart-area"></i>Kibana</span>
                    <span class="skill-tag" data-level="intermediate"><i class="fas fa-cogs"></i>Feature Engineering</span>
                    <span class="skill-tag" data-level="exploring"><i class="fas fa-clock"></i>Time Series Analysis</span>
                </div> -->
                <span class="skill-tag" data-level="proficient">PowerBI</span>
                    <span class="skill-tag" data-level="intermediate">Tableau</span>
                    <span class="skill-tag" data-level="intermediate">Databricks</span>
                    <span class="skill-tag" data-level="familiar">Airflow</span>
                    <span class="skill-tag" data-level="exploring">Docker</span>
                    
                  
            </div>            
        </div>

            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    <h3>Methodologies</h3>
                </div>
                <div class="skills-tag-cloud">
                    <span class="skill-tag" data-level="intermediate">Data Visualization</span>
                    <span class="skill-tag" data-level="intermediate">Data Engineering</span>
                    <span class="skill-tag" data-level="intermediate">Machine Learning</span>
                                        
                    <span class="skill-tag" data-level="intermediate">Data Modelling</span>
                    <span class="skill-tag" data-level="intermediate">Data Warehousing</span>
                    <span class="skill-tag" data-level="intermediate">SDLC</span>
                    <!-- <span class="skill-tag aws-service" data-level="familiar"><i class="fas fa-envelope"></i>NiFi</span> -->
                    <span class="skill-tag" data-level="proficient">Agile</span>
                    <span class="skill-tag" data-level="proficient">Scrum</span>
                


                    <!-- <span class="skill-tag" data-level="proficient"><i class="fab fa-python"></i>Jupyter Notebooks</span>
                    <span class="skill-tag" data-level="proficient"><i class="fab fa-jira"></i>Jira</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-paper-plane"></i>Postman</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-book"></i>Confluence</span> -->
                </div>
            </div>

            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    <h3>Productivity & Collaboration</h3>
                </div>
                <div class="skills-tag-cloud">
                    <span class="skill-tag" data-level="exploring">SQL Server Management Studio</span>
                    <span class="skill-tag" data-level="exploring">VSCode</span>
                    <span class="skill-tag" data-level="exploring">PyCharm</span>
                    <span class="skill-tag" data-level="intermediate">GitHub</span>
                    <span class="skill-tag" data-level="proficient">JIRA</span>
                                   
                    <span class="skill-tag" data-level="exploring">MIRO</span>
                    <span class="skill-tag" data-level="familiar">Microsoft Excel</span>
                    <span class="skill-tag" data-level="familiar">Microsoft PowerPoint</span>
                    <span class="skill-tag" data-level="familiar">Word</span>
                    <span class="skill-tag" data-level="familiar">Outlook</span>
                    <span class="skill-tag" data-level="familiar">Slack</span>
                    



                    <!-- <span class="skill-tag aws-service" data-level="familiar">Snowflake</span>
                    <span class="skill-tag aws-service" data-level="familiar">Airflow</span>
                    <!<span class="skill-tag aws-service" data-level="familiar"><i >NiFi</span> 
                    <span class="skill-tag aws-service" data-level="familiar">GitHub</span>
                    <span class="skill-tag aws-service" data-level="familiar">Miro</span>
                    <span class="skill-tag aws-service" data-level="familiar">JIRA</span>
                    <span class="skill-tag aws-service" data-level="familiar">SSMS</span>
                    <span class="skill-tag aws-service" data-level="familiar">SSIS</span>
                    <span class="skill-tag" data-level="proficient">DBeaver</span> -->
                    <!-- <span class="skill-tag" data-level="proficient"><i class="fab fa-python"></i>Jupyter Notebooks</span>
                    <span class="skill-tag" data-level="proficient"><i class="fab fa-jira"></i>Jira</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-paper-plane"></i>Postman</span>
                    <span class="skill-tag" data-level="proficient"><i class="fas fa-book"></i>Confluence</span> -->
                </div>
            </div>
    </div>
</section>
